@import "../../vars.css";

.container{
    margin-top: 4rem ;
    padding: 4rem 20rem;
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;

}


.content {
    background-color: var(--color-bg);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.explore_text {
    color: var(--color-dark);
    margin-top: 4rem;
    margin-bottom: 7rem;
    font-size: 2.0rem;
    text-transform: uppercase;
    
}

.about_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.project_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    color: var(--color-dark);
}

.circle {
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background-image: linear-gradient(to right,#1e90ff,#76b7f8);
    /* background-color: #1e90ff; */
    text-align: center;
    border-radius: 50%;
    font-size: 28px;
   
}

.title {
    font-size: 2rem;
    color: #1e90ff;
    margin-bottom: 1rem;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,#1e90ff,#76b7f8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.description {
    font-size: 1.5rem;
    text-align: center;
    max-width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.icons{
    display: flex;
    gap: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 3rem;
}